$colors: (
  neutral: (
    100: #d6d6d6,
    200: #b5b5b5,
    300: #949494,
    400: #767676,
    500: #595959,
    600: #3d3d3d,
    700: #373737,
    800: #323232,
    900: #2c2c2c,
  ),
  primary: (
    100: #b1e3a8,
    200: #6eca5c,
    300: #32aa1a,
    400: #288815,
    500: #1e6610,
    600: #15460b,
    700: #13410a,
    800: #113a09,
    900: #0f3408,
  ),
);
